<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/search" method="post">
    <input type="text" placeholder ="search" name="input">
    <button type="submit"> Push it! </button>
<script src="query.js"></script>
    <!--</ul>-->


    <!--Angular App starts here-->
    <!--<body ng-app="finalProjectApp">-->
    <!--<div ng-controller="finalProjectController">-->
    <!--store location:<input ng-change="checkStores() type="text ng-model="zip">-->
    <!--{{zip}}-->
    <!--<table>-->
    <!--<tr>-->
    <!--<td> zipcode </td>-->
    <!--</tr>-->
    <!--<tr ng-repeat="zip in zips">-->
    <!--<td>{{zip.name}}</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->


    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>-->
    <!--<script src="/final.js">-->
    <!--</script>-->
</body>
</html>
