<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/find" method="post">
    <input type="text" placeholder="Item requested" name="userRequest">
    <button type="submit">Submit</button>
</form>

{{#modeledWalmart}}
<ul>
    <li>
        {{name}}

        {{stock}}
    </li>
</ul>
{{/modeledWalmart}}

{{#modeledSupermarket}}
<ul>
    <li>
        {{Itemname}}
        {{itemDescription}}
        {{itemCategory}}
        {{itemID}}
        <img src="{{itemImage}}" alt="something">
    </li>
</ul>
{{/modeledSupermarket}}


<!--<ul>-->
    <!--<li>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<th>Itemname</th>-->
                <!--<th>itemDescription</th>-->
                <!--<th>itemCategory</th>-->
                <!--<th>itemID</th>-->
                <!--<th>itemImage</th>-->
                <!--<th>aisleNumber</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--{{#modeledSupermarket}}-->
                <!--<td>{{Itemname}}</td>-->
                <!--<td>{{itemDescription}}</td>-->
                <!--<td>{{itemCategory}}</td>-->
                <!--<td>{{itemID}}</td>-->
                <!--<td><img src="{{itemImage}}" alt="something"></td>-->
                <!--<td>{{aisleNumber}}</td>-->
                <!--{{/modeledSupermarket}}-->
            <!--</tr>-->
        <!--</table>-->
    <!--</li>-->
<!--</ul>-->

</body>
</html>