<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/search" method="post">
    <input type="text" placeholder="Item requested" name="input">
    <input type="text" placeholder="Zipcode" name="zipcode">
    <input type="text" placeholder="City" name="city">
    <button type="submit">Submit</button>
</form>

{{#craigslistItems}}
<ul>
    <li>
        {{title}}
        price: {{price}}
        <a href="{{url}}">Craigslist</a>
    </li>
</ul>
{{/craigslistItems}}

{{#modeledSupermarketStores}}
<ul>
    <li>
        {{smName}} {{smAddress}} {{smCity}}
    </li>
</ul>
{{/modeledSupermarketStores}}

{{#modeledWalmartStores}}
<ul>
    <li>
        {{city}} {{name}}
    </li>
</ul>
{{/modeledWalmartStores}}

{{#modeledWalmartItems}}
<ul>
    <li>
        {{name}}

        {{stock}}
    </li>
</ul>
{{/modeledWalmartItems}}

{{#modeledSupermarketItems}}
<ul>
    <li>
        {{Itemname}}
        {{itemCategory}}
        {{itemID}}
        <img src="{{itemImage}}">
    </li>
</ul>
{{/modeledSupermarketItems}}


</body>
</html>